{% for item in k8s_openssl_config|sort %}
[{{item}}]
{% if k8s_openssl_config[item] %}
{% for k in k8s_openssl_config[item]|sort %}
{% set count = 0 %}
{% set count_ssl = 1 %}
{% if k == 'DNS' %}
{% for value in range(0,k8s_openssl_config[item][k]|length) %}
  {{k}}.{{count_ssl}} = {{k8s_openssl_config[item][k][value]}}
{% set count = count + 1 %}
{% set count_ssl = count_ssl + 1 %}
{% endfor %}
{% set count_ssl = k8s_openssl_config[item][k]|length + 1 %}
{% for value in groups['k8s-masters']|map('extract', hostvars, ['priv_ip'])|list|sort %}
  {{k}}.{{count_ssl}} = {{value}}
{% set count_ssl = count_ssl + 1 %}
{% endfor %}
{% elif k == 'IP' %}
{% for value in range(0,k8s_openssl_config[item][k]|length) %}
  {{k}}.{{count_ssl}} = {{k8s_openssl_config[item][k][value]}}
{% set count = count + 1 %}
{% set count_ssl = count_ssl + 1 %}
{% endfor %}
{% set count_ssl = k|length %}
{% for value in groups['k8s-masters']|map('extract', hostvars, ['priv_ip'])|list|sort %}
  {{k}}.{{count_ssl}} = {{lookup('dig', value)}}
{% set count_ssl = count_ssl + 1 %}
{% endfor %}
{% else %}
  {{k}} = {{k8s_openssl_config[item][k]}}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
