[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers

Environment=KUBELET_IMAGE_TAG={{k8s_version}}
Environment="RKT_RUN_ARGS=--volume var-log,kind=host,source=/var/log \
  --mount volume=var-log,target=/var/log \
  --volume dns,kind=host,source=/etc/resolv.conf \
  --mount volume=dns,target=/etc/resolv.conf"
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --address={{priv_ip}} \
  --pod-manifest-path=/etc/kubernetes/manifests \
{% if 'k8s-workers' in group_names %}
  --register-node=true \
  --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \
  --require-kubeconfig true \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
  --register-schedulable=true \
{% else %}
  --register-schedulable=false \
{% endif %}
  --network-plugin-dir=/etc/kubernetes/cni/net.d \
  --network-plugin={{k8s_kublet_network_plugin}} \
  --allow-privileged=true \
  --hostname-override={{k8s_kubelet_hostname}} \
  --node-ip={{priv_ip}} \
  --cluster-dns={{k8s_dns_service_ip}} \
  --cluster-domain={{k8s_cluster_domain}}
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target